/vendor
/node_modules
.env





public/backup/*
!public/backup/0default.png




app_front_end/tmp
app_front_end/node_modules
app_front_end/bower_components
app_front_end/.sass-cache
app_front_end/connect.lock
app_front_end/coverage/*
app_front_end/libpeerconnection.log
app_front_endnpm-debug.log
app_front_endtestem.log