
<form {{ action 'search' on="submit" }}>

	<div class="input-group has-success">
		{{ input type="text" value=query class="form-control" placeholder=placeholder }}
		<div class="input-group-addon " type="submit"><span class="glyphicon glyphicon-search"></span></div>
	</div>
	
</form>

